<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8"/>
    <meta name="description"
          content="A simple webpage that tracks the price of Monster Energy for the online store oda.com"/>
    <meta name="creator" content="https://github.com/larskristianhaga/monsterindeks.no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Monsterindeks</title>
    <style>

    </style>
</head>

<body>
<h1>Hi!</h1>

{{.monsterName}}
{{.monsterPrice}}
</body>

</html>
